<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Registration Form</h2>
   
        <tr>
   
        <form>
            <table>
                <tr>
                    <th>Full Name</th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th>Place</th>
                    <td><input type="text"></td>
                </tr>


                <tr>
                    <th>Phone</th>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <th>email</th>
                    <td><input type="email"></td>
                </tr>
        

                <tr>
                    <th>Gender</th>
                  <td> <input type="radio" id="male" name="gender" value="male" required>
                    <label for="male">Male</label><br></td>  
<td>
                    <input type="radio" id="female" name="gender" value ="female" required>
                    <label for="male">Female</label><br>
               </td> </tr>
              <tr><td><input type="submit">
              </td></tr>
                
            

        </form>
        </body>
</html>


