<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Auction</title>
</head>
<body>
    <h1>Auction</h1>
    <table border="1">
<tr>
  <th>Seller Id</th>
  <th>Product Name</th>
  <th>Image</th>
  <th>Details</th>
  <th>Base Amount</th>
  <th>Added Date</th>
  <th>Auction Date Time</th>
  <th>Winner Id</th>
  <th>Status</th>
  
</tr>
{% for i in data ['view']%}

<tr>
<td> {{i['seller_id']}}</td>
<td> {{i['product_name']}}</td>
<td> {{i['product_image']}}</td>
<td> {{i['details']}}</td>
<td> {{i['base_amount']}}</td>
<td> {{i['added_date']}}</td>
<td> {{i['auction_date_time']}}</td>
<td> {{i['winner_id']}}</td>
<td> {{i['status']}}</td>
{% endfor %}</tr>

</table>
</body>
</html>